/*开始*/
*{
margin: 0;
padding: 0;
}
.box{
    width:1200px;
    margin: auto;
    min-height: 730px;
    background-color: #f9f9f9;
}

/*头部*/


.headertitle{
  line-height: 50px;
  padding-left: 50px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}
.navbox{
    line-height:50px;
    text-align: center;
    font-size: 18px;
    
}
/*.nav{
    width: 120px;
    height: 50px;
    float: left;
    color: lightgrey;
}*/

.nav{
		width: 120px;
		height: 50px;
		color: lightgrey;
		line-height: 50px;
		text-align: center;
		font-size: 18px;
		margin-right: 60px;
}

.nav:hover{
		color: darkolivegreen;
}
/*.headersign{
    text-decoration: none;
    line-height: 50px;
    font-size: 16px;
    color: lightgrey;
}*/
/*尾部*/
.footer{
  height: 100px;
  margin:auto;
}
.footerfont{
    font-size: 15px;
}


/*登录注册*/
.loginleft{
    width: 700px;
    margin-left: 50px;
    height: 430px;
    float: left;
}
.loginleft img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image:url("./image/logo.jpeg") 
}
.loginright{
    width: 400px;
    height: 430px;
    float: left;
}
.loginright img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.loginlogo{
    width:50px;
    height: 10px;
    margin-left:170px; 
    padding-top:20px; 
}

.formbox{
    width: 340px;
    margin: auto;
    margin-top: 120px;
}
.sign1{
    width: 170px;
    height: 20px;
    float: left; 
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: #169bd5;
}
.sign2{
    width: 170px;
    height: 20px;
    float: left; 
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color:#ccc;
}
.logintext{
    width:340px;
    height:40px;
    margin-top: 10px;
}

.signin{
    width:340px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #169bd5;
    background-color: #fdfdfd;
    margin-top:30px;
    border:1px solid #169bd5;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 40px;
}

.loginFont{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: dimgrey;
	cursor:pointer
}

.loginFontAfter{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: palegoldenrod;
	cursor:pointer
}
/*首页*/


.hometask{
    margin-top:50px;
    width: 450px;
    height: 430px;
    float: left;
    border: 1px solid #ccc;
    background-color:white; 
}
.taskup{
    width: 400px;
    height: 230px;
    margin: auto;
    margin-top:20px;
    background-color: #f8f8f8;
}
.taskdown{
    width: 400px;
    height: 140px;
    margin: auto;
    margin-top:20px;
    background-color: #f8f8f8;
}
.taskfont{
    padding-top:20px;
    padding-left:20px;
    font-size: 14px;
    color: grey
}
.taskfonts{
    padding-top:10px;
    padding-left:20px;
    font-size: 14px;
}

/*组件 QuestionList*/
.queimg{
    width: 238px;
    margin-top:50px;
    margin-left: 50px;
    float: left;
		border:2px solid white;
    transition: all 1s; 
		background-color: white; 	
}
.queimg img:hover{
	  cursor: pointer;  
		transform: scale(1.03);  
}


.quetip{
    width: 1100px;
    height: 80px;
    margin: auto;
    border-bottom: 1px solid #ccc;
}
.quetips{
    width: 1100px;
    height: 10px;
    margin: auto;
}



/*个人中心样式修饰*/
.perbox{
  position:absolute;
  top:130px;
  left:245px;
}
.perboxleft img{
  width:94px;
  height:94px;
  border:5px solid rgba(255, 255, 255, 0.3);
  border-radius:50%;
}
.perboxleft {
	margin-left: 50px;
  width:97px;
  height:97px;
  float:left;
}
.perboxright{
  width:86px;
  height:97px;
  float:left;
  margin-left:10px;
  color:#FFF;
  font-size: 14px;
  text-align: center;
}
.perboxright div{
  width:90px;
  height:25px;
  line-height: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
	background-color: palegoldenrod
}


.perboxright div:hover{
  background: palegoldenrod;
  color:#169bd5;  
}
.perul{
  width:334px;
  margin:20px auto;
}

/*加载组件*/
.example {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 100px 0;
  height:400px;
}
/*选择城市*/

.selectStyle{
    color:#169bd5;
    font-weight: 800;
    border:1px solid #169bd5;
    border-radius: 10px;
}

.shover span:hover{
    color:#169bd5;
    font-weight: 800;
    border:1px solid #169bd5;
    border-radius: 10px;
}

/*tab组件内容的居中*/
/*.pmycenter{
    width:1200px;
    position:absolute;
    
}

.mycenter{
    width:1200px;
    position:absolute;
    left:0px;
    top:80px;
}*/

.pcenter{
    width:1200px;
    height:436px;
    margin:auto;
    margin-top: 82px;
    background:#f9f9f9;
}
.mycenter{
    width:1200px;
}

.tabli{
    border-top: 1px solid #C4C4C4 ;
    padding: 20px 0 0;
    min-height: 600px;
}



