/*开始*/
*{
margin: 0;
padding: 0;
}
.box{
    width:1200px;
    margin: auto;
    min-height: 730px;
    background-color: #f9f9f9;
}

/*头部*/
.headerbox {
    height: 50px;
    background:dimgrey;
}

.headerlogo{
    width: 250px;
    height: 50px;
} 

.headertitle{
  line-height: 50px;
  padding-left: 50px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}
.navbox{
    line-height:50px;
    text-align: center;
    font-size: 18px;
    
}
.nav{
    width: 120px;
    height: 50px;
    float: left;
    color: lightgrey;
}
.headersign{
    text-decoration: none;
    line-height: 50px;
    font-size: 16px;
    color: lightgrey;
}
/*尾部*/
.footer{
  height: 100px;
  margin:auto;
}
.footerfont{
    font-size: 15px;
}


/*登录注册*/
.loginleft{
    width: 700px;
    margin-left: 50px;
    height: 430px;
    float: left;
}
.loginleft img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image:url("./image/logo.jpeg") 
}
.loginright{
    width: 400px;
    height: 430px;
    float: left;
}
.loginright img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.loginlogo{
    width:50px;
    height: 10px;
    margin-left:170px; 
    padding-top:20px; 
}
.loginrightform{
    width: 340px;
    height: 290px;
    margin: auto;
    margin-left: 50px;
    margin-top:120px; 
    position: relative;
}
.formbox{
    width: 340px;
    margin: auto;
    margin-top: 120px;
}
.sign1{
    width: 170px;
    height: 20px;
    float: left; 
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: #169bd5;
}
.sign2{
    width: 170px;
    height: 20px;
    float: left; 
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color:#ccc;
}
.logintext{
    width:340px;
    height:40px;
    margin-top: 10px;
}
.logintip{
    margin-top:20px; 
    text-align: center;
    color: grey;
    font-size: 14px;
}
.signin{
    width:340px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #169bd5;
    background-color: #fdfdfd;
    margin-top:30px;
    border:1px solid #169bd5;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 40px;
}
/*首页*/

.homeimg{
    margin-left: 50px;
    padding-top:50px;
    width: 650px;
    margin-left: 50px;
    height: 430px;
    float: left;
}

.homeimg img{
    width: 550px;
    height: 430px;
    float: left;
}
.hometask{
    margin-top:50px;
    width: 450px;
    height: 430px;
    float: left;
    border: 1px solid #ccc;
    background-color:white; 
}
.taskup{
    width: 400px;
    height: 230px;
    margin: auto;
    margin-top:20px;
    background-color: #f8f8f8;
}
.taskdown{
    width: 400px;
    height: 140px;
    margin: auto;
    margin-top:20px;
    background-color: #f8f8f8;
}
.taskfont{
    padding-top:20px;
    padding-left:20px;
    font-size: 14px;
    color: grey
}
.taskfonts{
    padding-top:10px;
    padding-left:20px;
    font-size: 14px;
}

/*组件 QuestionList*/
.questionList{
    clear: both;
    width: 1200px;
    height: 1200px;
    margin: auto;
    margin-top:20px; 
}

.queimg img{
    width: 238px;
    height: 250px;
    margin-top:50px;
    margin-left: 50px;
    border-radius: 5%;
    float: left;
}
.quetip{
    width: 1100px;
    height: 80px;
    margin: auto;
    border-bottom: 1px solid #ccc;
}
.quetips{
    width: 1100px;
    height: 10px;
    margin: auto;
}

